*{
    margin: 0;
}
body{
    font-family: Roboto;
}
.div{
    text-align: right;
    width: 95%;
    margin: 0 auto;
    margin: 15px auto;

}
.p{
    text-align: left;
    border:black solid 1.9px;
    padding: 1rem;
    overflow-wrap: break-word;
}
.caixaMensagens{
    border:black solid 1px;
    width: 100%;
    max-width: 800px;
    margin: 100px auto;
    
}
.areaDigitar{
    background-color: #C4C4C4;
    display: flex;
    flex-direction: row;
    text-align: center;
    border: black solid 1px;
    height: auto;
    padding: 7px;
    margin: 0 auto;
    width: 60%;
}
.areaMensagem{
    margin: 0 auto;
}
.historico{
    min-height: 45vh;
}
.titulo{
    min-height: 6vh;
    border:black solid 1px;
    background-color: #C4C4C4;
    padding-top: 20px;
    padding-left: 20px;
}
#botaoEnviar{
    color: snow;
    height: 30px;
    margin-left: 1rem;
    background: #0066CC;
    border-radius: 10px;
    border: 0;
}
.botaoExcluir{
    border: 0;
    background: tomato;
}
.botaoEditar{
    border: 0;
    background: #F7A75D;
}